<configuration>
    <springProperty scope="context" name="lokiUrl" source="loki.url" defaultValue="http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push"/>
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="user-service"/>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${lokiUrl}</url>
        </http>
        <labels>
            app=eventticketing
            service=${appName}
            level=%level
            env=k8s
        </labels>
        <structuredMetadata>off</structuredMetadata>
        <message class="com.github.loki4j.logback.JsonLayout">
            <loggerName>
                <fieldName>logger</fieldName>
                <targetLength>36</targetLength>
            </loggerName>
            <threadName>
                <fieldName>thread</fieldName>
            </threadName>
            <mdc>
                <noPrefix>true</noPrefix>
                <include>correlationId</include>
                <include>userId</include>
                <include>routingKey</include>
            </mdc>
        </message>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %-5level [%thread] %logger{36} [%X{correlationId:-}] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOKI"/>
    </root>
</configuration>
